body {
    margin: 20px auto;
    font-family: 'Lato';
    background: rgba(114, 107, 107, 0.781);
    color: #fff;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
  }
  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
  }
.notes{
    text-align: center;
    color: rgb(174, 224, 185);
    font-size: 50px;}
.outer{
    display:flex;
    margin-left: 50px;
}
#box1{
    height: 100px;
    width: 90%;
    text-align: center;
    color:white;
    font-size: 25px;
    opacity: 0.3;
    background-color:rgb(202, 71, 93); 
}

#box2{
    height: 100px;
    width: 90%;
    text-align: center;
    color:white;
    font-size: 25px;
    opacity: 0.3;
    background-color:rgba(150, 163, 175, 0.801);
}

#box3{
    height: 100px;
    width: 90%;
    text-align: center;
    color:white;
    font-size: 25px;
    opacity: 0.3;
    background-color:rgba(172, 30, 172, 0.959);
}

#box4{
    height: 100px;
    width: 90%;
    text-align: center;
    color:white;
    font-size: 25px;
    opacity: 0.3;
    background-color:rgba(221, 152, 23, 0.863);
}

.first {
    align-content: center;
    background-color: black;
    color: white;
    background-color:rgba(150, 163, 175, 0.801);
    height: 271px;
    width: 21%;
    text-align: center;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform:rotate(10deg);
    
}
.second{
    align-content: center;
    background-color: black;
    color: white;
    background-color: rgb(202, 71, 93);
    height: 271px;
    width: 21%;
    text-align: center;
    margin-left: 37px;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform:rotate(-3deg);
    
}
.third{
    align-content: center;
    background-color: black;
    color: white;
    background-color: rgba(221, 152, 23, 0.863);
    height: 271px;
    width: 21%;
    text-align: center;
    margin-left: 37px;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform:rotate(5deg);

}
.fourth{
    align-content: center;
    background-color: black;
    color: white;
    background-color: rgba(172, 30, 172, 0.959);
    height: 271px;
    width: 21%;
    text-align: center;
    margin-left: 37px;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform:rotate(-9deg);
    
}
#final{
    display: flex;
    height: 300px;
    width: 90%;
    flex-direction: column;
    background-color: rgba(139, 138, 50, 0.952);
    margin-top: 10%;
    margin-left: 40px;
    box-shadow:13px 14px 20px rgba(0,0,0,.7);
}
.first:hover{
   
     transform: scale(1.1);
    transition: transform .10s linear; 
   
}
.second:hover{
   
    transform: scale(1.1);
    transition: transform .10s linear;
  
}
.third:hover{
 
    transform: scale(1.1);
    transition: transform .10s linear;
  
}
.fourth:hover{
   
    transform: scale(1.1);
    transition: transform .10s linear; 
}
 
 #finalmsg  li{
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 15px;
    color: white;
    border-bottom: 1px solid #777;
    padding-bottom: 8px;
    }  
 #final li{
    font-size: 16px;
     width: 100%;  
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
    margin-bottom:15px;
    color:white;
    border-bottom:1px solid #777;
    padding-bottom: 8px;
} 
#finalmsg li.complete{ 
    color:teal
}

#final li.uncomplete{
    color:red
}